{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "report": "/^\\d+\\.\\d+\\.x$/"
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
